# COE891 Final Project Testing Dependencies

JUnit Jupiter (org.junit.jupiter:junit-jupiter) == 5.10.1
Mockito Core (org.mockito:mockito-core) == 5.7.0
Mockito Inline (org.mockito:mockito-inline) == 5.2.0
JaCoCo Maven Plugin (org.jacoco:jacoco-maven-plugin) == 0.8.11
PIT Mutation Testing (org.pitest:pitest-maven) == 1.15.2
ChatUniTest Maven Plugin (io.github.ZJU-ACES-ISE:chatunitest-maven-plugin) == 1.4.0
